<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Habits</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-gray-300">
    <div class="rounded-lg bg-blue-900/30 p-12 md:p-20 shadow-lg text-center max-w-2xl">
        <h1 class="text-5xl p-12 font-bold text-gray-200">Healthy Habits</h1>
        <h2 class="text-3xl pt-6 font-bold text-gray-200">Create your own habit tracker.</h2>
        <h2 class="text-3xl font-bold text-gray-200">You're worth it.</h2>
        <div class="flex justify-center mt-12 space-x-4">
            <button class="px-6 py-3 bg-blue-500 text-white rounded-lg cursor-pointer hover:bg-blue-600 transition">
                <a href="/login">Login</a>
            </button>
            <button class="px-6 py-3 bg-blue-500 text-white rounded-lg cursor-pointer hover:bg-blue-600 transition">
                <a href="/signup">Signup</a>
            </button>
        </div>
    </div>
</body>
</html>
