<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Healthy Habits</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-gray-300">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach(el => { %>
            <div class="alert alert-danger bg-red-500 text-white p-4 rounded-lg mb-4 shadow-md">
                <%= el.msg %>
            </div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach(el => { %>
            <div class="alert alert-info bg-blue-500 text-white p-4 rounded-lg mb-4 shadow-md">
                <%= el.msg %>
            </div>
        <% }) %>    
    <% } %>
    <form action="/login" method="POST" class="bg-blue-900/30 p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Login</h1>
        <input type="email" name="email" placeholder="Email" class="m-2 w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <input type="password" name="password" placeholder="Password" class="m-2 w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <input type="submit" value="Login" class="w-full m-2 px-4 py-3 bg-blue-500 text-white rounded-lg cursor-pointer mt-4 hover:bg-blue-600 transition">
    </form>
</body>
</html>
